<mat-card>

    <mat-action-list>

        <div mat-subheader>MENU</div>
        <button mat-list-item><mat-icon mat-list-icon routerLink="/user-dashboard">home</mat-icon>Home</button>
        <button mat-list-item><mat-icon mat-list-icon routerLink="/user-dashboard/profile">account_circle</mat-icon>Profile</button>
        <button mat-list-item><mat-icon mat-list-icon routerLink="/user-dashboard/add-complain">add</mat-icon>Complain</button>
        <button mat-list-item><mat-icon mat-list-icon routerLink="/user-dashboard/view-complain">toll</mat-icon>View</button>   
     </mat-action-list>
</mat-card>
